.adaptive-bg, .pic-bg, .img-bg {
    background-color: beige;
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}



/* @media screen and (max-width: 1000px) {
    .adaptive-bg {
        background-image: url('../images/bg-m.jpg');
    }
} 
@media screen and (max-width: 800px) {
    .adaptive-bg {
        background-image: url('../images/bg-s.jpg');
    }
}

 @media screen and (min-width: 1001px) {
    .adaptive-bg {
        background-image: url('../images/bg-l.jpg');
    }
} */

/* @media screen and (min-width: 801px) and (max-width: 1000px) {
    .adaptive-bg {
        background-image: url('../images/bg-m.jpg');
    }
} */